{% extends "baseAdmin.html" %}
{% load static %}

{% block content %}



<ul class="timeline timeline-simple">
    
    {% for p in libro_list.all %}
    <li class="timeline-inverted">
        <div class="timeline-badge info">
            <i class="material-icons">book</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
               <h5 class="card-title"><strong>{{p.titulo}}</strong></h5>
            </div>
            <div class="timeline-body">
                {{p.fragmento}}
                <hr>
                <div class="dropdown pull-left">
                    <button type="button" class="btn btn-round btn-info dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">build</i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li>
                            <a href="{% url 'libro_editar' p.pk %}">Modificar</a>
                        </li>
                        <li>
                            <a href="{% url 'libro_borrar' p.pk  %}">Borrar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock content%}