{% extends "baseAdmin.html" %}
{% load static %}

{% block content %}
{% for p in editorial_list.all %}
<div class="col-md-4">
    <div class="card card-testimonial">
        <div class="icon">
            <i class="material-icons">import_contacts</i>
            <h4 class="card-title">{{p.nombre}}</h4>
        </div>
        <div class="card-content">
            <h5 class="card-description">
                <div class="form-group label-floating">
                    <label class="control-label">NIT</label>
                    {{p.nit}}
                </div>
                
                <div class="form-group label-floating">
                    <label class="control-label">Direccion</label>
                    {{p.direccion}}
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Telefono</label>
                    {{p.telefono}}
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Email</label>
                    {{p.email}}
                </div>

                <a class="btn btn-success" href="#">Ver Libros</a>
            </h5>

            
        </div>
        <div class="footer">
            <h6 class="category">{{p.sitioweb}}</h6>
            <div class="card-avatar">
                <img src="{% static p.imagen.url %}" >
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content%}